/* BELOW 1344px (Smaller desktops) */
@media (max-width: 84em) {
  .margin-container {
    max-width: 110rem;
  }
  .title {
    font-size: 7rem;
  }
  .subheading {
    font-size: 1.8rem;
  }
}
/* BELOW 1200px (Landscape Tablets) */
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
  .margin-container {
    max-width: 100rem;
  }
  header .top-nav .main-links {
    gap: 3rem;
    margin-right: 4rem;
  }
  header .top-nav .authorize {
    gap: 2.5rem;
  }
  header .decoration {
    width: 50%;
  }
  main .services .decoration {
    display: none;
  }
  main .services .cards .card {
    padding: 3rem;
  }
  main .services .cards .card2 {
    justify-content: flex-start;
  }
  main .destinations .destination-cards .decore {
    display: none;
  }
  main .destinations .destination-cards .destination-card:hover {
    transform: scale(1.05, 1.05);
  }
  main .booking .booking-card {
    margin-right: 0;
  }
  main .booking .booking-card .trip {
    right: -5%;
    top: 95%;
  }
  main .form .dots {
    display: none;
  }
  main .testimonials .title {
    width: 100%;
  }
}
/* BELOW 944px (Tablets) */
@media (max-width: 59em) {
  html {
    font-size: 50%;
  }
  .margin-container {
    max-width: 100%;
    width: 100%;
    padding-left: 12rem;
    padding-right: 12rem;
  }
  header .top-nav {
    justify-content: space-between;
  }
  header .top-nav .main-links {
    display: none;
  }
  header .top-nav .authorize {
    display: none;
  }
  header .top-nav .burger-menu {
    display: block;
  }
  header .top-nav .burger-menu img {
    width: 45px;
  }
  header .decoration {
    width: 50%;
  }
  header .hero .Traveller {
    display: none;
  }
  main .services .decoration {
    display: none;
  }
  main .services .cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  main .destinations .destination-cards {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  main .destinations .destination-cards .card3 {
    margin-top: 2rem;
  }
  main .booking {
    display: block;
  }
  main .booking .booking-steps {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
  }
  main .booking .booking-steps .subheading {
    text-align: center;
    width: 100%;
  }
  main .booking .booking-card {
    display: none;
  }
  main .logos {
    flex-wrap: wrap;
  }
  main .testimonials {
    flex-direction: column;
    align-items: center;
  }
  main .testimonials .subheading {
    text-align: center;
  }
  main .testimonials .comment .user-avatar {
    top: -9%;
    left: -9%;
  }
  main .form {
    border-radius: 0;
    padding: 8rem;
  }
  main .form .arrow {
    display: none;
  }
  .footer .row {
    gap: 1.5rem !important;
  }
}
/* BELOW 704px (Smaller tablets) */
@media (max-width: 44em) {
  .margin-container {
    max-width: 100%;
    padding-left: 55px;
    padding-right: 55px;
  }
  header .hero .subheading {
    margin-bottom: 2rem !important;
  }
  header .hero .title {
    font-size: 6rem;
  }
  main .logos .brand-logo {
    filter: none;
    margin-bottom: 2rem;
  }
  main .logos .brand-logo:hover {
    transition: none;
  }
  main .form form {
    width: 100%;
  }
  main .form .spiral__1 {
    display: none;
  }
  .footer .footer-links {
    flex-direction: column;
    align-items: center;
    width: auto;
    gap: 4rem;
    margin-bottom: 4rem;
  }
  .footer .footer-links .company-desc .text {
    font-size: 2.5rem !important;
  }
  .footer .footer-links .row {
    gap: 5rem !important;
  }
  .footer .footer-links .row .footer-links__col {
    gap: 3rem;
  }
  .footer .footer-links .footer-links__col .social {
    justify-content: space-around;
  }
  .footer .footer-links .footer-links__col .social__header {
    text-align: center;
  }
  .footer .footer-links .footer-links__col .social__mobile img {
    width: 150px;
  }
}
/* BELOW 544px (Phones) */
@media (max-width: 34em) {
  .margin-container {
    padding: 0 5rem;
  }
  header .hero .links {
    justify-content: space-around;
  }
  main .services .cards {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 3rem;
  }
  main .services .cards .card {
    width: 80%;
    margin: 0 auto;
    background-color: #ffffff;
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
  }
  main .services .cards .card:hover {
    transition: none;
  }
  main .services .cards .card:hover .hover-decor {
    display: none;
  }
  main .destinations .destination-cards {
    flex-direction: column;
    gap: 3rem;
    align-items: center;
  }
  main .destinations .destination-cards .card3 {
    margin-top: 0;
  }
  main .form form {
    flex-direction: column;
    gap: 2rem;
    align-items: center;
  }
  main .form form button {
    align-self: end;
  }
}

/*# sourceMappingURL=queries.css.map */
